<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project 1</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=League+Script|Scope+One" rel="stylesheet">
          
    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>

    <div class="jumbotron">
      <div class="container">
        <div class="row" id="header">
          <div class="col m1"><img src="../images/tolietlogo.png" /></div>
          <div class="col m1"><span id="name">atmo</span></div>
        </div>

        <div class="row" id="neighborhood-search">
          <div class="input-field col offset-m3 s6">
          <i class="material-icons prefix">search</i>
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">neighborhoods</label>
          </div>
        </div>
      </div>
    </div>
    
<!--Seed data container-->
<div id="restrooms"></div>

<!--Submit Form (Work in Progress)-->    
    <section id='restroom-form'>         
      <div class="container">
            
        <form>      
          
          <div class="form-group">
            <input placeholder="business name" id="rest-name" name="locationName" type="text" class="form-input">
          </div>

          <div class="form-group">
            <input placeholder="address" id="rest-loc" name="location" type="text" class="form-input">
          </div>

          <div class="form-group">
            <input placeholder="type" id="rest-type" name="type" type="text" class="form-input">
          </div>

          <div class="form-group">  
            <input placeholder="cleanliness (0 - 10)" id="rest-clean" name="cleanliness" type="text" class="form-input">
          </div>

          <div class="form-group">
            <input placeholder="neighborhood" id="rest-hood" name="neighborhood" type="text" class="form-input">
          </div>

          <div class="form-group">
              <input placeholder="enter review" id="rest-review" name="review" type="text" class="form-input" data-length="60">
          </div>

          <div class="form-group">
            <div class="col m4">
              <button class="btn waves-effect waves-light" type="submit" name="action">Save Restroom</button>
            </div> 
          </div>
        
        </form>
        
      </div>

    </section>
  
  </body>

</html>
