<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Airpnp</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=League+Script|Scope+One|Open+Sans" rel="stylesheet">
          
    
  </head>
  
  <body>

    <div class="jumbotron">
      <div class="container">
        <div class="row" id="header">
          <div class="col m1"><img src="../images/tolietlogo.png" /></div>
          <div class="col m1"><span id="name">airpnp</span></div>
        </div>
        <div class="row" id="titletext">
          <h3><span>Airpnp</span> Find unique restrooms and experience peeing like a local.</h3>
        </div>

        <div class="row" id="neighborhood-search">
          <div class="container">
            <div class="col s12">        
            <input type="text" id="autocomplete-input" class="autocomplete" placeholder="Search by Neighborhood">
            <div class="col s10"> 
            </div>
            <a id="reload" class="btn-floating btn-large waves-effect waves-light blue lighten-2"><i class="material-icons">youtube_searched_for</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--Seed data container-->
<div id="restrooms"></div>

<!--Submit Form-->    
    <div class="form-header">
        <div class=row id="formtitle">
          <div class="col s1"><i class="medium material-icons" id="invertcolors">invert_colors</i></div>
          <div class="col s5"><h4>Share a new place</h4></div>
        </div>
    </div>
   
   <section id="restroom-form">         
      <div class="container">
            
        <form>      
          
          <div class="form-group"><i class="small material-icons prefix">store</i>
            <input placeholder="business name" id="rest-name" name="locationName" type="text" class="form-input">
          </div>

          <div class="form-group"><i class="small material-icons prefix">location_on</i>
            <input placeholder="address" id="rest-loc" name="location" type="text" class="form-input">
          </div>

          <div class="form-group"><i class="small material-icons prefix">info</i>
            <input placeholder="type" id="rest-type" name="type" type="text" class="form-input">
          </div>

          <div class="form-group"><i class="small material-icons prefix">loyalty</i> 
            <input placeholder="cleanliness (0 - 5)" id="rest-clean" name="cleanliness" type="text" class="form-input">
          </div>

          <div class="form-group"><i class="small material-icons prefix">business</i> 
            <input placeholder="neighborhood" id="rest-hood" name="neighborhood" type="text" class="form-input">
          </div>

          <div class="form-group"><i class="small material-icons prefix">stars</i> 
              <input placeholder="enter review" id="rest-review" name="review" type="text" class="form-input" data-length="60">
          </div>

          <div class="form-group">
            <div class="col m4">
            <br>
              <button class="btn waves-effect waves-light blue lighten-2" type="submit" name="action">Save Restroom<i class="material-icons right">send</i></button>
            </div> 
          </div>

        </form>
        
      </div>
    </section>

  <footer class="page-footer blue lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Airpnp</h5>
          <p class="white-text">We are a pair of like-minded individuals who strive to provide the world with an easier tool to look for spots to pee.</p>
          <p class="white-text">~ W and S</p>
          <img id="smalllogo" src="../images/tolietlogo.png" />
        </div>
        <div class="col l6 s12">
        
        <section id="comment-form">
        
        <form>
          <div class="form-review">
          <input placeholder="Please write a comment about our app" id="review-comment" name="comment" type="text" class="form-input">
          <button id="comment" class="btn waves-effect waves-light blue lighten-2" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
          </div>
        </form>
          
        </section>
        
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Airpnp
      </div>
    </div>
    </footer>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  
  </body>

</html>