.jumbotron {
    padding-bottom: 100px;
    background: url(../images/background1.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#header {
    padding-top: 50px;
}

#neighborhood-search {
    padding-top: 10px;

}

#reload {
	margin-top: -5px;
}

#titletext {
    padding-top: 40px;
    padding-left: 80px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

#storeicon {
	color: #ec407a;
}

#cleanliness {
	color: #009688;
}

.card-content {
	background-color: #e3f2fd; 
}

h3 span {
    color: #64b5f6;
}

img {
    height: 90px;
    width: 90px;
}

#name {
    font-family: 'League Script', cursive;
    font-size: 70px;
    color: #64b5f6;
    padding-left: 30px;
    font-weight: 700;
}

#autocomplete-input {
    background-color: #ffffff;
    padding-left: 10px;
    border-radius: 10px;

}

.row-restroom {
    padding-left: 80px;
    padding-right: 80px;

}

#invertcolors{
	color: #64b5f6;
}

h4 {
	color: #ec407a;
	padding-bottom: 20px;
}

footer {
    margin-top: 100px;
}

#review-comment {
	background-color: #ffffff;
	border-radius: 10px;
	padding-left: 10px;

}

#suggestion {
	padding-top: 30px;
}

#smalllogo {
    height: 40px;
    width: 40px;
}

.topform {
	padding-top: 40px;
	padding-bottom: 40px;
}