.jumbotron {
    padding-bottom: 500px;
    background: url(../images/background.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
#header {
    padding-top: 80px;
}
#neighborhood-search {
    padding-top: 100px;
}
img {
    height: 70px;
    width: 70px;
}
#name {
    font-family: 'League Script', cursive;
    font-size: 45px;
    padding-left: 20px;
}   
.row-restroom {
    padding-left: 80px;
    padding-right: 80px;
}
.form-header {
    padding-left: 230px;
    padding-top: 50px;
}
form {
    padding-left: 200px;
    padding-right: 200px;
}
footer {
    margin-top: 100px;
}
#smalllogo {
    height: 40px;
    width: 40px;
}